{                                                                                                              
    "test": {                                                                                                  
    },                                                                                                         
    "development": {      
     },                                                                                                         
    "production": {                                                                                            
        "redirecturl": "https://<domain>/getAToken",
        "clientid": "",
        "clientsecret": "",
        "title": "",
        "dashboardid": "",
        "authmethod" : "direct",
        "username": "",
        "password": ""
    }                                                    
}        
