body {
  padding: 1px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

div#direct-html{
  height: 100%;
}

div#divView {
  width:100%;
  height: 90%;
}
a {
  color: #00B7FF;
}
